.swVersion-toolbar {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 400px;
    z-index: 999999;
    background: rgba(255, 255, 200, 0.8);
    padding: 2px;
}
.swVersion-toolbar input {
    width: 50px;
    text-align: center;
}
.swVersion-toolbar select {
    width: 50px;
}
.swVersion-toolbar button {
    width: 50px;
     background-color: #ddd;
     border: 1px solid #666;
}
.swVersion-toolbar button.swVersion-toolbar-btn-active {
    border: 1px solid orange;
    background-color: white;
}
.swVersion-cell {
    border: 2px dashed red !important;
}
.swVersion-toolbar > * {
    height: 24px;
    margin: 1px;
    padding: 2px;
    box-sizing: border-box;
}
